input{
    height: 40px;
    width: 500px;
    outline: none;
    border-radius: 5px;
}
#ccode_box{
    height: 40px;
    width: 60px;
    border: none;
    border-radius: 50px;
    outline: none;
}
#phno_box{
    width: 433px;
}
#file{
    width: 100px;
    height: 20px;
}
#main-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.box{
    background-color: rgb(219, 219, 219);
    padding: 15px;
    border-radius: 5px;
    height: fit-content;
}
#left-panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#left-panel > #avatar-div{
    text-align: center;
    padding-top: 30px;
}
#right-panel{
    text-align: center;
}
#pay-select {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: none;
}
#pay-select > option {
    height: 50px;
    width: 200px;
    font-size: large;
    border: none;
}

.payimg{
    height: 100px;
    float:  right;
}
.form-btns {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-size: large;
    margin-top: 7px;
}
