body {
  background-image: url("../img/tourbeachdark.jpg");
  background-position: center;
  height: 100;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.phno,
.otp {
  -moz-appearance: textfield;
  margin-top: 5px;
  width: 300px;
  font-size: xx-large;
  background-color: white;
  text-align: center;

  border: none;
  border-radius: 10px;

  color: black;
}
.button {
  border-radius: 10px;
  height: 50px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;

  height: 40px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
