* {
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: black;
}
a{
  text-decoration: none;
}
body {
  background: linear-gradient(to bottom, #090f25 0%, #27317e 100%);
  background-position: center;
  
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 15px;
}
.btns{
  background-color: blue;
  height: 35px; width: 65px;
  border: none; border-radius: 10px;
  color: white;
}
.btns-booking{
  background-color: blue;
  height: 45px; width: 100px;
  border: none; border-radius: 10px;
  color: white;
  float: right;
}
#header{
  margin-top: -20px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto auto;
  background-color: transparent;
}
#header > div{
  justify-content: center;
}

#navbar {
  list-style-type: none;
 
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  text-decoration: none;
  color: white;
  font-size: medium;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

#navbar li a:hover {
  border-radius: 20px;
  color: black;
  background-color: white;
}
#navbar li.active a {
  background-color: white;
  color: blue;
  border-radius: 20px;
}
#widget{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
#widget > div{
  background-color: white;
  padding: 25px; 
  border-radius: 5px; 
  margin-bottom: 15px; 
  height: 100px;
  
}
#username-box{
  font-size: x-large;
  background-color: white;
  padding: 2px;
  border-radius: 50px;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}
#tour-content-heading{
  background-color: white;
  border-radius: 5px;
  justify-content: center;
}
#tour-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
#tour-content > div{
  background-color: white;
  border-radius: 5px;
  padding: 10px;

}

#trip-ideas-heading{
  background-color: white;
  border-radius: 5px;
}
#trip-ideas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
#trip-ideas > div{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
#infimg{
  position: absolute;
  top: 160px; right: 20px;
  width: 500px; height: 145px;
  border-radius: 20px;
}


#scroll_top {
  position: fixed;
  bottom: 10px; right: 10px;
  border-radius: 100%;
  height: 50px; width: 50px;
  background-color: blueviolet; 
  border: none;
}
img {
  border-radius: 5%;
  height: 250px;
 
}
#searchbar {
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

#icon {
  height: 30px;
}
input {
  width: 800px;
  background-color: white;
  border: none;
  color: black;
  height: 5px;
  font-size: medium;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
}



#abus {
  color: black;
  background-color: white;
 
  padding: 20px;
  border-radius: 15px;
  height: auto;
  width: 800px;
  margin-left: 19%;
  margin-top: 11%;
  box-shadow: 20px 20px 10px black;
}

.support {
  color: black;
  background-color: white;

  border-radius: 15px;
  width: 800px;
  height: auto;
  margin-left: 20%;
  margin-top: 6%;
  padding: 20px;
}
